@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 1280px;
    margin: 0px auto;
}

header div.logo {
    background: url(../images/DBZ.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 950px;
    height: 300px;
}

section.images {
    margin-top: 40px;
}

section.images div {
    display: inline-block;
    background-size: cover;
    background-position: center center;
    height: 290px;
    margin-right: 28px;
    position: relative;
    width: 280px;
}

section.images div:first-child {
    margin-left: 28px;
}

section.images div:last-child {
    margin-right: 0px;
}

.dbz:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../Images/Hero.jpg);
}

.dbz:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../Images/Broly.jpg);
}

.dbz:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../Images/Bills.jpg);
}

.dbz:nth-child(4) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../Images/Frezzer.jpg);
}

section.images div p {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255,255,255, .8);
    bottom: 0px;
    font-size: 1.4rem;
    height: 15px;
    margin: 0px;
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 240px;
    transition: all 0.4s;
}

section.images div:hover {
    cursor: pointer;
}

section.images div:hover p {
    height: 40px;
}

footer {
    margin-top: 40px;
}

footer article {
    border: 1px dashed rgba(0,0,0,0.5);
    height: 280px;
    position: relative;
    margin: 50px 28px;
}

footer article.articulo1 figure {
    background-image: url(../images/goku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 280px;
    width: 250px;
}

footer article.articulo2 figure {
    background-image: url(../images/Vegeta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 280px;
    width: 250px;
}

footer article.articulo1 figure {
    background-position: right center;
}

footer article figure,
footer article div {
    display: inline-block;
    vertical-align: top;
}

footer article div {
    margin-left: 28px;
    width: 600px;
}

footer article div h2 {
    color: #000;
    font-size: 2rem;
    margin: 20px 0px;
}

footer article div p {
    color: rgba(19, 19, 19, 0.5);
    line-height: 1.4em;
    text-align: justify;
}

       /* Responsive */
       
@media (max-width: 1290px) {
    main {
        width: 680px;
    }

    header div.logo {
        background-size: 100%;
    }

    section.images div {
        margin: 28px;
    }

    footer article div {
        width: 280px;
    }

    footer article div h2 {
        font-size: 1.4rem;
    }

    footer article div p {
        overflow: auto;
        height: 180px;
    }
}

     /* Responsive */

@media (max-width: 690px) {
    
    main {
        width: 480px;
    }

    section.images div {
        display: block;
        margin: 28px auto;
        margin-left: 20px;
        width: 90%;
        height: 340px;
    }

    section.images div:first-child {
        margin-left: 20px;
    }

    section.images div p {
        height: 20px;
        width: 392px;
    }

    footer article {
        height: 560px;
        margin: 40px auto;
        width: 90%;
    }

    footer article figure {
        background-size: 180%;
    }

    footer article figure,
    footer article div {
        display: block;
        width: 100%;
    }

    footer article div {
        margin-left: 0px;
    }
}