@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background: url(https://trello.com/1/cards/61fc1fcf964a7a0724d2e89b/attachments/6215306cf2a4688f81faecd6/download/bg.JPG) no-repeat center;
    background-size:cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    min-height: 100vh;
}

main{
    margin: 2rem auto;
    width: 50%;
}

header h1{
    background-color: #ffffff66;
    border-bottom: 4px solid #d37b28;
    color: #333;
    padding: 2rem;
    font-weight: 500;
    text-align: center;
}

header h1 a:link,
header h1 a:visited {
    background-color: #00000099;
    color: #fff;
    float: left;
    padding: 0 6px;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
header h1 a:hover{
    background-color: #00000099;
    transform: translateX(-10px);
}

section{
    background-color: #ffffffbb;
    color: #333;
    padding: 2rem;
    min-height: 20rem;
}